@import './../../style/default.less';
.header{
    background-color: @colorM;
    .header-top{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 40px;
        }
    }
    .breadcrump{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border-top: 1px solid green;
        .breadcrump-title{
            
        }
        .weather{
            text-align: right;
            font-size: 14px;
            .date{
                margin-right: 10px;
            }
            .weather-img{
                img{
                    height: 15px;
                    margin-right: 10px;
                }
            }
        } 
    }
}